body { font-family: Arial, sans-serif; margin:0; padding:0; line-height:1.5; }
    header { background: #333; 
        color: #fff; 
        padding: 10px 20px;
         display: flex;
    justify-content: space-between; 
    align-items: center;
     }
.dark-mode {
    background-color: #121212;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.5;}
    input[type="checkbox"].nav-toggle {
        display: none;
    }
    .nav-toggle-label {
        color: #fff;
        cursor: pointer;
        font-size: 14px;
        user-select: none;
        background-color: #fff;
        border-radius: 25px;
         display: inline-block;
  width: 50px;
  height: 20px;
  position: relative;
  cursor: pointer;
  
}
    .nav-toggle-label::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  width: 16px;          
  height: 16px;         
  background-color: grey;
  border-radius: 50%;    
  transform: translateY(-50%);  
  transition: transform 0.3s ease;
}
    .nav-toggle:checked + .nav-toggle-label::after {
    transform: translate(30px,-50%);
    }
    nav ul { list-style:none; 
        margin:0; 
        padding:0; 
        display: flex;
        flex-direction: row;
        gap:7%; 
        white-space: nowrap;
    }

    nav a { color:#fff; 
        text-decoration:none; 
        border: 1px solid black;
    border-radius: 20px;
    padding: 7px ;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.3);
}
    main { padding: 20px; 
        max-width: 900px; 
        margin: auto; }

    section { margin-bottom: 40px; }

    h1, h2, h3 { margin: 0 0 10px 0; }

    ul { list-style: disc; 
        padding-left: 20px; }

    footer { text-align:center; 
        padding: 15px; 
        background: #333;
     }

    article { border: 1px solid #ccc; 
        padding: 10px; 
        border-radius: 6px; 
        margin-bottom: 10px; }
    footer p{
        color: #fff;
    }
